#scenes {
  overflow: auto;
  height: 600px;
  position: relative;
}
.logo {
  display: none;
}
.scene .maintitle {
  margin: 100px auto;
}
.scene .maintitle h1 {
  font-size: 2.5em;
  margin-top: 30px;
}
.scene .maintitle h2 {
  margin-bottom: 20px;
}
.scene .maintitle img {
  height: 160px;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: url('/img/static/100-50-5.png') top left repeat;
  z-index: 1;
}
.underlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #0E281E url("/video/sixteenseconds.jpg") right bottom no-repeat;
  background-size: cover;
}
.scene .product {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  min-width: 0px;
  max-width: none;
  left: 50%;
}
.scene .product img {
  display: block;
  margin-left: -50%;
  position: absolute;
  min-width: 100%;
  height: 100%;
  bottom: 0px;
}
.visible .product img {
  z-index: 2;
}
.mailinglist {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #FFF;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: .6em;
  letter-spacing: .5em;
  padding-bottom: 10px;
  z-index: 200;
  transition: background-color .5s;
}
.mailinglist a {
  transition: color .5s;
  color: #000;
  font-family: "BrandonText-Light";
}
.mailinglist a span {
  font-family: "BrandonText-Bold";
}
.mailinglist:hover {
  background: #38322E;
}
.mailinglist:hover a {
  color: #FFF;
}
#video {
  width: 100%;
  height: 100%;
  background: url("/video/sixteenseconds.jpg") center center no-repeat;
  background-size: cover;
}
#video * {
  z-index: 0 !important;
}
.splicepromo #video {
  background: url("/video/spliceparticles/SpliceParticles.jpg") center center no-repeat;
  background-size: cover;
}
.mwb #video {
  background: url("/video/monster/mwb.png") center center no-repeat;
  background-size: cover;
}
body {
  background-size: cover;
  background-position: 0% center;
  transition: background-position 1s;
}
#sixteen.scene {
  background: url("/video/sixteenseconds.jpg") center center no-repeat;
  background-size: cover;
}
#scenes nav a {
  position: absolute;
  top: 50%;
  left: 40px;
  right: 0%;
  margin-top: -20px;
  z-index: 50;
  width: 38px;
  height: 38px;
  background: url("/img/ui/arrow_left.png") left center no-repeat;
  transition: background-image .25s;
}
#scenes nav a:hover {
  background-image: url("/img/ui/arrow_left_grey.png");
}
#scenes nav a span {
  display: none;
}
#scenes nav a.next {
  left: auto;
  right: 40px;
  background-image: url("/img/ui/arrow_right.png");
}
#scenes nav a.next:hover {
  background-image: url("/img/ui/arrow_right_grey.png");
}
.scene {
  width: 100%;
  height: 100%;
  background: center bottom no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  z-index: 1;
  background-color: #DDDDDD;
  background-image: url("/img/splice/splice_basic_bg.png");
  background-position: left bottom;
}
.maintitle img.logo {
  display: inline-block;
  height: 180px;
  width: auto;
}
.light a.button:hover {
  background: #38322E;
  color: #FFF;
}
.light .scene {
  color: #FFF;
}
.light #scenes nav a.prev {
  background-image: url("/img/ui/arrow_left_white.png");
}
.light #scenes nav a.prev:hover {
  background-image: url("/img/ui/arrow_left_grey.png");
}
.light #scenes nav a.next {
  background-image: url("/img/ui/arrow_right_white.png");
}
.light #scenes nav a.next:hover {
  background-image: url("/img/ui/arrow_right_grey.png");
}
#menu {
  overflow-y: auto;
}
section {
  overflow: auto;
}
section .container {
  padding: 80px 0px;
}
#news h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}
#news .projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
}
#news article {
  display: flex;
  flex-flow: column;
  width: 33%;
  padding: 10px;
  text-align: center;
  position: relative;
}
#news article a img {
  max-width: 100%;
  margin-bottom: 1em;
  align-self: center;
  border: 9px solid #e7edea;
  transition: border-color .25s;
}
#news article a:hover img {
  border-color: #123025;
}
#news article h3 a {
  font-family: "BrandonText-Regular";
}
#news article h3 a:hover {
  color: #777;
}
#news article .button {
  color: #5b544f;
  background: #e7edea;
  margin-top: auto;
}
#news article .button:hover {
  background: #123025;
  color: #FFF;
}
#mailinglist {
  text-align: center;
  font-size: 12px;
}
#mailinglist .container {
  border-top: 2px solid #5f5f5f;
}
#mailinglist h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0px;
}
#mailinglist p {
  font-size: 20px;
}
#mailinglist form {
  display: block;
  width: 100%;
  font-size: 1.5em !important;
}
#mailinglist form input {
  background: #888;
  color: #FFF;
}
#mailinglist form input:focus {
  background: #38322E;
  color: #FFF;
}
#mailinglist form input,
#mailinglist form button {
  width: 60%;
  display: inline-block;
  border-radius: 5px;
  padding: 0px 20px;
  height: 60px;
  font-size: 1.5em;
  border: none;
  transition: background .25s, color .25s;
}
#mailinglist form input:focus,
#mailinglist form button:focus {
  outline: none;
}
#mailinglist form button {
  width: 20%;
  margin-left: 10px;
  text-transform: uppercase;
  background: #ff0081;
  color: #FFF;
  font-family: "BrandonText-Bold";
}
#mailinglist form button:hover {
  background: #38322E;
  color: #FFF;
}
.container {
  max-width: 1024px;
  margin: 0px auto;
}
@media (max-width: 768px) {
  .scene .maintitle img {
    height: 100px;
  }
  .mailinglist {
    padding-bottom: 10px;
  }
  .mailinglist a span:before {
    content: "\a";
    white-space: pre;
  }
}
@-webkit-keyframes float {
  from {
    transform: translate(0px,0px);
  }
  to {
    transform: translate(0px,-10px);
  }
}
#splice .float {
  display: inline-block;
  -webkit-animation: float 2s ease-in-out 0s infinite alternate;
}



.new-badge
{

  position: absolute;
  transform: rotate( -45deg );

  background: #ff1895;
  color: #FFF;
  font-family: "BrandonText-Medium";
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
  height: 50px;
  padding-top: 30px;
  left: -45px;
  top: -20px;
  /* padding: 20px 80px; */

}

.projects article a
{
  overflow: hidden;
  position: relative;
}
