body {
  background: #1C1C1C;
  /* background-image: url("/img/lineweight/lineweight-bkg.jpg"); */
}
.top {
  background: url('/img/lineweight/lineweight-splash.jpg') center center no-repeat;
  background-size: cover;
}
.actions li:nth-child(5) a:hover {
  background-color: #2D9B70;
}
.actions li:nth-child(4) a:hover {
  background-color: #2D9B70;
}
.actions li:nth-child(3) a:hover {
  background-color: #2D9B70;
}
.actions li:nth-child(2) a:hover {
  background-color: #2D9B70;
}
.actions li:nth-child(1) a:hover {
  background-color: #2D9B70;
}

#features li {
  margin-bottom: 30px;
}

.panel.dark
{
  color: #FFF;
  background: #555;
  border-radius: 10px;
  padding: 10px;
}

.panel.dark .pad
{
  padding: 10px;
}

.panel.dark p
{
  margin: 0px;
}
