body {
  background-image: url("/img/tailwind/bkg.jpg");
  background-position: center top;
}
.top {
  background: url('/img/tailwind/splash.jpg') center center no-repeat;
  background-size: cover;
}
