---
layout: product
title: Lineweight
subtitle: Emotions in motion.
trailer-cta: Watch the trailer
trailer-id: VeWjLLgeGuo
css:
    - games/lineweight
    - buy

script: ui/video

theme: light
appear: #2B2B2B
preview: /img/lineweight/lineweight_preview.jpg
buytitle: Join the Mailing List!

sidebar: |
    <ul class="actions">


    <li class="primary"><a href="/mailinglist">mailing list</a></li>
    <li><a href="//www.youtube.com/embed/VeWjLLgeGuo" rel="trailer">trailer</a></li>

    <!-- <li><a href="//music.cipherprime.com/album/intake-ost">soundtrack</a></li> -->

    </ul>

    <section class="hidden-xs">

    <!-- <p>
    <iframe style="border: 0; width: 297px; height: 360px;" data-url="https://bandcamp.com/EmbeddedPlayer/album=2637807215/size=large/bgcol=ffffff/linkcol=f171a2/artwork=small/transparent=true/" seamless><a href="http://music.cipherprime.com/album/intake-ost">Intake OST by Cipher Prime Studios</a></iframe>
    </p> -->

    <!-- <p>
    Be sure to sign up for our <a href="#">mailing list</a> and check our <a href="//blog.cipherprime.com">blog</a>, where you can also find all our <a href="#">press releases</a>.
    </p> -->

    </section>

    <section class="hidden-xs">
    <h3>Credits</h3>
    <ul>
    <li><a href="//twitter.com/willstall">William Stallwood</a></li>
    <li><a href="//twitter.com/dainsaint">Dain Saint</a></li>
    </ul>
    </section>


---

    <h2>Feel something.</h2>

    <p>A face, a sunset, a moment in time—our lives are the emotions we feel, and the stories we tell.</p>

    <p>These are our stories.</p>

    <p>Lineweight is a brand new experience from Cipher Prime. Each of its five chapters showcases a story with a specific emotional focus, illuminated with the studio's signature stylings of color, light, and music. Every moment, word, and image is controlled by your swipe, marrying storytelling and graphic design in a unique union we can't wait to share with you.</p>

    <p><em>Lineweight is still under development, and will be released Summer 2019. <a href="/mailinglist">Join the mailing list</a> to get release updates!</em></p>



    <ul id="screenshots" class="screenshots row">
    <li class="col-xs-6">{% include screenshot.html game="lineweight" image="lineweight1" %}</li>
    <li class="col-xs-3">{% include screenshot.html game="lineweight" image="lineweight2" %}</li>
    <li class="col-xs-3">{% include screenshot.html game="lineweight" image="lineweight3" %}</li>
    </ul>

    <ul id="features">
    <li><h3>Features</h3></li>
    <li><p>Unique, emotional stories drawn from life</p></li>
    <li><p>Beautiful focus on typography and design</p> </li>
    <li><p>Innovative presentation—fully controlled by your swipe</p> </li>
    <li><p>Stunning motion halftone style creates a “living book” experience</p> </li>
    <li><p>Brand-new eclectic soundtrack creates a deep atmosphere</p> </li>

    </ul>


<!-- 
    - name: Lineweight<span class="tag dev">in dev</span>
      url: /games/lineweight -->
