---
layout: product
title: Lineweight
subtitle: Emotions in motion.
description: Hold on to a feeling in this new interactive experience from Cipher Prime.
trailer-cta: Watch the trailer
trailer-id: VeWjLLgeGuo
css:
    - games/lineweight
    - buy

script: ui/video

theme: light
appear: #2B2B2B
preview: /img/lineweight/lineweight-splash.jpg
buytitle: Join the Mailing List!

sidebar: |
    <ul class="actions">

    <li class="primary"><a href="https://play.google.com/store/apps/details?id=com.thelabel.android.lineweight">buy on google play</a></li>
    <li><a href="#mailinglist">mailing list</a></li>
    <li><a href="//www.youtube.com/embed/VeWjLLgeGuo" rel="trailer">trailer</a></li>

    <!-- <li><a href="//music.cipherprime.com/album/intake-ost">soundtrack</a></li> -->

    </ul>

    <section class="hidden-xs">

    <!-- <p>
    <iframe style="border: 0; width: 297px; height: 360px;" data-url="https://bandcamp.com/EmbeddedPlayer/album=2637807215/size=large/bgcol=ffffff/linkcol=f171a2/artwork=small/transparent=true/" seamless><a href="http://music.cipherprime.com/album/intake-ost">Intake OST by Cipher Prime Studios</a></iframe>
    </p> -->

    <!-- <p>
    Be sure to sign up for our <a href="#">mailing list</a> and check our <a href="//blog.cipherprime.com">blog</a>, where you can also find all our <a href="#">press releases</a>.
    </p> -->

    </section>

    <section class="hidden-xs">
    <h3>Credits</h3>
    <ul>
    <li><a href="//twitter.com/willstall">William Stallwood</a></li>
    <li><a href="//twitter.com/dainsaint">Dain Saint</a></li>
    </ul>
    <br>

    <h3>The Label</h3>
    <ul>
      <li>Eddie Hsu</li>
      <li>Mike Ouye</li>
    </ul>
    <br>

    <h3>Beta Testers</h3>
    <ul>
      <li>Kotaro Fujita</li>
      <li>Nicole Forester</li>
      <li>Jude Buffum</li>
      <li>Emma Fried-Cassorla</li>
      <li>Alex Hillman</li>
      <li>Greg Lobanov</li>
      <li>Jess Mason</li>
      <li>Ichiro Lambe</li>
    </ul>
    <br>

    <h3>Special Thanks</h3>
    <ul>
      <li><a href="//twitter.com/fourzerotwo">Robert Bowling</a></li>
      <li><a href="//twitter.com/ShawnPierre">Shawn Pierre</a></li>
      <li><a href="//indyhall.org">Indy Hall</a></li>
      <li><a href="//phillygamemechanics.com">Philly Game Mechanics</a></li>
      <li><a href="//pexels.com">Pexels</a></li>
    </ul>
    </section>

awards: |
    <ul class="row">
        <li class="col-sm-4"><h3>Gold Medal<br/>Interactive Design</h3><a href="https://www.indigoawards.com/winners/784">Indigo Awards 2019</a></li>
        <li class="col-sm-4"><h3>Gold Medal<br/>Book Design</h3><a href="https://www.indigoawards.com/winners/784">Indigo Awards 2019</a></li>
        <li class="col-sm-4"><h3>Silver Medal<br/>Mobile Games</h3><a href="https://www.indigoawards.com/winners/784">Indigo Awards 2019</a></li>
    </ul>

    <ul class="row">
        <li class="col-sm-4"><h3>Nominee</h3><a href="https://www.indiecade.com/lineweight/">Indiecade 2019</a></li>
        <li class="col-sm-4"><h3>Nominee</h3><a href="https://www.indiecade.com/lineweight/">Indiecade Europe 2019</a></li>
    </ul>

---

    <h2>Feel something.</h2>

    <p>A face, a sunset, a moment in time—our lives are the emotions we feel, and the stories we tell.</p>

    <p>These are our stories.</p>

    <p>
      <a href="//play.google.com/store/apps/details?id=com.thelabel.android.lineweight" class="purchase play"><span>Buy it on Google Play</span></a>
    </p>

    <p>Lineweight is a brand new experience from Cipher Prime. Each of its five chapters showcases a story with a specific emotional focus, illuminated with the studio's signature stylings of color, light, and music. Every moment, word, and image is controlled by your swipe, marrying storytelling and graphic design in a unique union we can't wait to share with you.</p>

    <p><em>Lineweight is now available on Google Play! iOS is coming very soon, join the mailing list to know when!</em></p>

    <div class="panel dark">
      <div class="pad">
        <h3>Join the mailing list!</h3>
        <p>Be the first to know when Lineweight releases. You'll also get a free track from the Lineweight soundtrack!</p>
      </div>
      <p id="mailinglist"><script async data-uid="17e7f5cbbf" src="https://silent-dawn-9523.ck.page/17e7f5cbbf/index.js"></script></p>
    </div>





    <ul id="screenshots" class="screenshots row">
    <li class="col-xs-6">{% include screenshot.html game="lineweight" image="lineweight1" %}</li>
    <li class="col-xs-2">{% include screenshot.html game="lineweight" image="lineweight2" %}</li>
    <li class="col-xs-2">{% include screenshot.html game="lineweight" image="lineweight3" %}</li>
    <li class="col-xs-2">{% include screenshot.html game="lineweight" image="lineweight4" %}</li>
    </ul>

    <ul id="features">
    <li><h3>Features</h3></li>
    <li><p>Unique, emotional stories drawn from life</p></li>
    <li><p>Beautiful focus on typography and design</p> </li>
    <li><p>Innovative presentation—fully controlled by your swipe</p> </li>
    <li><p>Stunning motion halftone style creates a “living book” experience</p> </li>
    <li><p>Brand-new eclectic soundtrack creates a deep atmosphere</p> </li>

    </ul>


<!--
    - name: Lineweight<span class="tag dev">in dev</span>
      url: /games/lineweight -->
