---
layout: product
title: Shimsham
subtitle: Competitive 2 player action for Mac and PC.
trailer-cta: Watch the trailer
trailer-id: JPkzGyKgJts

script: ui/video

css:
    - games/shimsham
    - buy
theme: light
appear: #191919

sidebar: |
    <ul class="actions">
    <li class="primary"><a href="/mailinglist">mailing list</a></li>
    <li><a href="//youtube.com/embed/JPkzGyKgJts" rel="trailer">trailer</a></li>
    <li><a href="//music.cipherprime.com/album/shimsham-ost">soundtrack</a></li>
    </ul>

    <section class="hidden-xs">
    <iframe style="border: 0; width: 100%; height: 373px;" data-url="http://bandcamp.com/EmbeddedPlayer/album=3740119748/size=large/bgcol=ffffff/linkcol=333333/artwork=none/transparent=true/" seamless><a href="http://music.cipherprime.com/album/shimsham-ost">Shimsham OST by Cipher Prime Studios</a></iframe>
    </section>

    <section class="hidden-xs">
    <h3>Credits</h3>
    <ul>
    <li><a href="//twitter.com/willstall">William Stallwood</a></li>
    <li><a href="//twitter.com/dainsaint">Dain Saint</a></li>
    <li><a href="//twitter.com/andreimarks">Andrei Marks</a></li>
    <li><a href="//twitter.com/achapin">Aaron Chapin</a></li>
    <li><a href="//twitter.com/zenasprime">Zenas Bellace</a></li>
    <li><a href="//twitter.com/ajackieawesome">Jackie Awesome</a></li>
    </ul>
    </section>

testimonials: |
    <blockquote cite="#">
    <p>&ldquo;This game is so perfect!&rdquo;</p>
    <footer>ChewySlaw</footer>
    </blockquote>

    <blockquote cite="#">
    <p>&ldquo;This game is very fun, especially if you're more competitive and looking for a fun game of strategy and dexterity.&rdquo;</p>
    <footer>AgentParkour</footer>
    </blockquote>

    <blockquote cite="#">
    <p>&ldquo;This game is a piece of art!&rdquo;</p>
    <footer>fifigyuri</footer>
    </blockquote>

    <blockquote cite="#">
    <p>&ldquo;My 7 year old figured this out regardless that it did not have instructions. Was fun to use after 5 minutes and he beat me twice.&rdquo;</p>
    <footer>JessicaMakenzie</footer>
    </blockquote>
---

<h3>Go toe-to-toe and <strong>crush your opponent</strong></h3>

    <p>Smash your opponent to the smooth sounds of classic jazz! In this heads-up competitive game, each player fights for control of their world while battling competing laws of gravity. Spin your level and control the falling blocks to crush your opponent&mdash;without letting them crush you first.</p>

    <hr/>

    <ul id="screenshots" class="screenshots row">
    <li class="col-xs-6">{% include screenshot.html game="shimsham" image="shimsham1" %}</li>
    <li class="col-xs-3">{% include screenshot.html game="shimsham" image="shimsham2" %}</li>
    <li class="col-xs-3">{% include screenshot.html game="shimsham" image="shimsham3" %}</li>
    </ul>

    <h3>Gameplay</h3>

    <p>Shimsham is a 2-player head-to-head game.
    To begin a level both players must move their pointers over their START buttons.
    You control the gravity of your color, use it to your advantage.
    Score points by smashing your blocks into the spheres of the opposing player.
    Blocks will respawn when smashed into one another, but no points are awarded.
    Roll into white blocks with your sphere to create an additional player block.
    First player to 5 points wins!
    </p>

    <h3>Leap Motion Version</h3>
    <p>Originally created as a debut title for the Leap Motion, Shimsham has since been revamped with full keyboard, mouse, and controller support.</p>

    <h3>Features</h3>
    <ul>
    <li>Delicious original Jazz Soundtrack and Audioscape</li>
    <li>Beautiful unique Art Deco inspired visuals</li>
    <li>Play against your friends, or test your mettle against the unstoppable JazzBot!</li>
    </ul>
