---
layout: product
title:  Splice
promo: Now available on PS3 and PS4!
subtitle: Also available for Desktop, iPad, and Android.
trailer-cta: Watch the trailer
trailer-id: UpAi8kPrFaA
css:
    - games/splice
    - buy

script: ui/video

theme: dark
appear: #6CA00F
preview: /img/splice/splice_ps4_ps3_site-1.jpg

humble: //www.humblebundle.com/store/product/splice/wfehlLLAJFHE
buytitle: Buy Splice Now!
lead: |
    Contains <strong>Splice</strong> for Mac, Windows, Linux, and Android, as well as the soundtrack <em>Flight of Angels</em>! Also comes with a Steam key for easy game management.</p><p>
    <a href="/games/splice/buy" class="button">See More Buying Options <i class="fa fa-arrow-circle-right"></i></a>


sidebar: |
    <nav id="actions">
        <ul class="actions">
            <li class="primary"><a href="/games/splice/buy">buy it now</a></li>
            <li><a href="//www.youtube.com/embed/UpAi8kPrFaA" rel="trailer">trailer</a></li>
            <li><a href="/mailinglist">mailing list</a></li>
            <li><a href="http://music.cipherprime.com/album/flight-of-angels-splice-ost">soundtrack</a></li>
            <li><a href="https://gumroad.com/l/BaOhm">sheet music</a></li>
            <li><a href="#awards">awards</a></li>
        </ul>
    </nav>

    <section>
        <h2><strong>Get it on mobile!</strong></h2>
        <br/>

        <a href="https://itunes.apple.com/us/app/splice-tree-of-life/id543610134?mt=8">
            <img src="/img/static/Download_on_the_App_Store_Badge_US-UK_135x40@2x.png" width="135" height="40"/>
        </a>

        <a href="https://play.google.com/store/apps/details?id=com.cipherprime.splice&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
            <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" width="135" height="40"/>
        </a>

    </section>

    <section class="hidden-xs">
        <iframe style="border: 0; width: 100%; height: 120px;" data-url="http://bandcamp.com/EmbeddedPlayer/album=3147462786/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://music.cipherprime.com/album/flight-of-angels-splice-ost">Flight of Angels - Splice OST by Cipher Prime Studios</a></iframe>
    </section>

    <section class="hidden-xs">
        <iframe style="border: 0; width: 100%; height: 120px;" data-url="http://bandcamp.com/EmbeddedPlayer/album=4084315947/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://music.cipherprime.com/album/algorithms-and-angelology">Algorithms and Angelology by Cipher Prime Studios</a></iframe>
    </section>

    <section class="hidden-xs">
        <h4>The Splice Team</h4>
        <ul>
            <li><a href="//twitter.com/dainsaint">Dain Saint</a></li>
            <li><a href="//twitter.com/willstall">William Stallwood</a></li>
            <li><a href="//twitter.com/andreimarks">Andrei Marks</a></li>
            <li><a href="//twitter.com/wcoastsands">Nikkolai Davenport</a></li>
            <li><a href="//twitter.com/achapin">Aaron Chapin</a></li>
        </ul>
    </section>

awards: |
    <ul class="row">
    <li class="col-sm-3"><h3>Best Puzzle Game</h3><a href="//software.intel.com/sites/campaigns/levelup2011/hall-of-glory/index.html">Intel Level Up</a></li>
    <li class="col-sm-3"><h3>Best International Game</h3><a href="//www.freeplay.net.au/2012/09/freeplay-awards-2012-winners/">Freeplay Awards</a></li>
    <li class="col-sm-3"><h3>Pax 10 Selection</h3><a href="//indiegames.com/2012/07/pax_prime_2012s_pax_10_reveale.html">Pax Prime</a></li>
    <li class="col-sm-3"><h3>Finalist</h3><a href="//www.indiecade.com/2012/nominees/">IndieCade</a></li>
    <li class="col-sm-3"><h3>Editor's Choice</h3><a href="/img/static/splice_editorschoice.jpg">Apple</a></li>
    <li class="col-sm-3"><h3>Game of the Week</h3><a href="//www.pocketgamer.co.uk/r/Android/Game+of+the+Week/news.asp?c=46515">Pocket Gamer</a></li>
    <li class="col-sm-3"><h3>Game of the Day</h3><a href="//kotaku.com/5940258/elegant-puzzle-games-should-be-on-oprahs-non+existent-list-of-video-game-favorite-things">Kotaku</a></li>
    <li class="col-sm-3"><h3>Platinum Award</h3><a href="//www.pocketgamer.co.uk/r/Android/Game+of+the+Week/news.asp?c=46515">Pocket Gamer</a></li>
    </ul>


testimonials: |
    <blockquote cite="//www.gamezebo.com/2012/06/18/splice-review/">
    <p>&ldquo;Just moments after you've uttered the words &lsquo;what the heck am I supposed to be doing&rsquo;, you're relishing in one of the freshest and most mind-blowing puzzle games you've played in a long while.&rdquo;</p>
    <footer>Mike Rose, <a href="//www.gamezebo.com/2012/06/18/splice-review/">Gamezebo</a></footer>
    </blockquote>

    <blockquote cite="//toucharcade.com/2012/09/07/splice-tree-of-life-ipad-review/">
    <p>&ldquo;Sexy on a Cellular Level.&rdquo;</p>
    <footer>John Polson, <a href="//toucharcade.com/2012/09/07/splice-tree-of-life-ipad-review/">Touch Arcade</a></footer>
    </blockquote>

    <blockquote cite="//gamingillustrated.com/splice/">
    <p>&ldquo;You discover Splice more than you play it, and it works spectacularly.&rdquo;</p>
    <footer>B.C. Johnson, <a href="//gamingillustrated.com/splice/">Gaming Illustrated</a></footer>
    </blockquote>

    <blockquote cite="//jayisgames.com/archives/2012/06/splice.php#prettyPhoto">
    <p>&ldquo;[Splice is] a fantastic puzzle with a great atmosphere.&rdquo;</p>
    <footer>Steve Lewis, <a href="//jayisgames.com/archives/2012/06/splice.php#prettyPhoto">Jay Is Games</a></footer>
    </blockquote>

    <blockquote cite="//www.bigsushi.fm/splice/">
    <p>&ldquo;Splice does what most puzzle games fail to do: it enthralls. &rdquo;</p>
    <footer>John Lindvay, <a href="//www.bigsushi.fm/splice/">BigSushi.fm</a></footer>
    </blockquote>

    <blockquote cite="//www.appspy.com/review/3203/splice-tree-of-life-ipad-review">
    <p>&ldquo;Part eye-candy, part lobe-tickling puzzler, Splice : Tree of Life is a gorgeously presented concept that has a more-ish appeal to its outwardly 'simple' looking stages; definitely worth adding to your puzzle collection.&rdquo;</p>
    <footer>Andrew Nesvadba, <a href="//www.appspy.com/review/3203/splice-tree-of-life-ipad-review">App Spy</a></footer>
    </blockquote>

    <blockquote cite="//www.slidetoplay.com/review/splice-tree-of-life-review/">
    <p>&ldquo;Splice: Tree of Life is mesmerizing and serene as you power through each stage.&rdquo;</p>
    <footer>Brittany Vincent, <a href="//www.slidetoplay.com/review/splice-tree-of-life-review/">Slide to Play</a></footer>
    </blockquote>
---


<h2>Now available on <a href="https://store.sonyentertainmentnetwork.com/#!/en-us/games/splice/cid=UP2094-CUSA00995_00-0000000000000000">PS4</a> and <a href="https://store.sonyentertainmentnetwork.com/#!/en-us/games/splice/cid=UP2094-NPUB31319_00-SPLICEGAME000000">PS3</a>!</h2>
    <p>We worked hard with Sony and Unity to bring you the ultimate experience of Splice. It&rsquo;s been a childhood dream for such a long time to release a game on a console, and Splice is our very first!</p>
    <h2>Evolve Your Mind.</h2>
    <p><em>Splice</em> is an experimental and artistic puzzler. Immerse yourself in its microbial world and start splicing! Every level ("strand") consists of a number of cells that you will need to rearrange into a target structure in several moves ("splices"). Exploration and experimentation are key in determining how the curious little cells react to each other.</p>


    {% include youtube.html id="video1" video="Q3A86k2x6_E" style="width: 100%; height: 315px" %}

    <ul id="screenshots" class="screenshots row">
    <li class="col-xs-6">{% include screenshot.html game="splice" image="splice1" %}</li>
    <li class="col-xs-3">{% include screenshot.html game="splice" image="splice2" %}</li>
    <li class="col-xs-3">{% include screenshot.html game="splice" image="splice3" %}</li>
    </ul>

    <section>
    <h3>Behind the Science</h3>
    <p>The origin of Splice is somewhat a mystery, shrouded in fever dreams from a particularly bad case of strep. We took our love of science, art, and experimentation, and created an experience to capture the <em>feeling</em> of being a scientist&mdash;working the night away, tugging at the universe, and trying to figure out how it all works. While Splice may seem daunting, don't worry! You don't need an advanced degree in thermobionuclearology<sup>*</sup> to play.</p>
    <p>Some terminology first: each level has a single <em>strand</em> made up of many <em>cells</em>. These cells are held in a structure known as a <a href="//en.wikipedia.org/wiki/Binary_tree">binary tree</a>. Binary trees are not a new concept; you've probably seen them many times. If you've ever seen a Final Four bracket or looked up your family history online, you've already used one! What makes Splice's trees unique is that they're mapped in circle, rather than linearly. It may seem confusing at first, but keep at it and the pieces will surely click together.</p>

    <p id="note1"><small><sup>*</sup> Not a real degree. Yet...</small></p>
    </section>
